/* overrides default settings- CSS reset */
body, ul, li, h1, h2, a {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
header{
    background-color: #f63232;
    padding: 20px;
    text-align: center;
    /* fixed will ensure the banner to be fixed no matter where you scroll */
    position: fixed;
    width: 100%;
    /* bring things forward. anything more than 0 will bring it forward*/
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    color: white;
    border: 8px solid white;
    padding: 6px 12px; 
    /* 1st val is top and bottom. 2nd left and right */
    display: inline-block;
    /* inline but also has the ability to use padding as block */
    border-radius: 36px;
}
.banner{
    position: relative;
}
.banner img{
    max-width: 100%;
    /* max width of the device */
}
.banner .welcome{
    background-color: #FEB614;
    color: white;
    padding: 10px;
    /* parent position must not be static. use absolute to get child inside parent */
    position: absolute;
    /* from the left or top. not to the left or top */
    left: 2px;
    top: 10%;
}
.banner h2{
    font-size: 74px;
}
.banner h2 span{
    font-size: 1.3em;
    /* em takes the size of the parent which is 74px and times it by 1.3 */
}
nav{
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 100px;
    /* when it reaches to 100px from the top then it sticks to page */
}
nav ul{
    white-space: nowrap;
    /* li will be in one line only */
    max-width: 1200px;
    margin: 0 auto;
    /* auto left and right to centralise things automatically */
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 25px;
}
nav li a{
    text-decoration: none;
    color: #4b4b4b;
}
nav li a.join{
    color: #f63232;
}
main{
    max-width: 100%;
    /* max width to 100px so it doesnt go off the page */
    width: 1200px;
    /* if viewpoint of that device is 800px then it'll reach max width of 800 not 1200px */
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
    /* get the padding into the total width. 100% total- dont add padding on top */
}
article h2{
    color: #f63232;
    font-size: 48px;
}
article p{
    line-height: 2em;
    color: #4b4b4b;
}
.images{
    text-align: left;
    margin: 50px 0px;
    white-space: nowrap;
    /* this makes images side by side */
}
.images li{
    display: inline-block;
    list-style-type: none;
    width: 40%;
    margin: 20px 5%;
    position: relative;
}
.images li img{
    max-width: 100%;
    /* 100% of parent's container which is 40px */
}
section.join{
    background-color: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}
section.join h2{
    font-size: 36px;
}
form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
}
footer{
    background-color: #f63232;
    color: white;
    padding: 10px;
    text-align: center;
}
/* pseudo-classes: styles elements when they're in a particular state i.e. hover, first child, focus */

nav li a:hover{
    text-decoration: underline;
}

.images li:hover{
    position: relative;
    top: -4px;
}
form input:focus{
    border: 4px dashed #4b4b4b;
    outline: none;
}
form input:valid{
    border: 4px solid #71b300;
}