

body{
    color: aqua;
}

h1{
    color: orange; 
    background-color:slateblue;
    text-decoration: none; 
    /* anchor tags automatically have unline ontext. can set it to non if on css*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}
p{
    text-align: left;
    line-height: 10px;
    letter-spacing: 1.5px;
    column-gap: 60px;
    column-count: 2;
}

ul{
    /* border-width: 4px;
    border-style: solid;
    border-color: crimson; */
    border: 4px solid crimson;
    /* everything can be done with one line */
    /* the border can be set individually i.e. border left, border bottom
    border-left: 30px dotted black;
    */
}

li{
    list-style-type: disc; 
    /* these are the pointers of the list */
    text-shadow: 2px 2px #e9e9e9;
    /* gives text a little of depth */
}

span{
    /* span, em, anchor tags are inline elemets */
    display: block;
    /* this turns it to block element so takes up the whole block */
    /* inline elements cannot have margins at the top and bottom, just left and right */
    /* paddng collapes in a vertial manner- goes on top of each other */
}


div{
    display: inline;
    /* turns block element into inline */
    /* margin collapse- if 2 block elements are on top of each other then the padding would merge if one is 60px and another 20px then the total padding would be 60. it takes the bigger of the 2 */
}
/* display: inline-block; gets the best of both world. can add padding top and bottom to inline elements */

/* default browser style- can override using own code */

/* CSS classes are used as hooks for just a particular element e.g. p instead of all p tags. class starts with . */
p.error{
    color: red;
}
/* p.error selects only the p tag with the class of error */

p.sucess{
    color: rgb(17, 78, 17);
}

p.sucess.feedback{
    border: 6px dashed #e9e9e9;
}

/* ids can be used as CSS hooks and can be used for JS*/
#content{
    background-color: ebebeb;
    padding: 20px;
}
/* one constraint is that id can only be used once as it is unique */

/* descendants selectors- tag children inside a parent element. can get mulitple levels deep. must contains space to access descedant selectors*/
/* parents are what nesting its children tags */
/* parent child {

} */
div p{
    color: purple;
}

/* attribute selectors */
/* this looks for every anchor tags with a href attribute. to be specific add website to ot e.g. href="google.com"*/
a[href]{
    background-color: #424242;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
/* href*="google" can shorten it. * means icludes this womewhere in the value. href$=".com" means any href that ends with .com */
/* pdf icon for those that ends with .pdf */

/* cascade mean from top to bottom. Inheritance- elems inherits parent's properties */
/* not all properties can be inherited such as border, margin, padding etc. usually font, text styles and colours are inherited */
p{
    border: inherit; 
    color: green;
}
/* this allows children elements to inherit parent */
p{
    color: red;
}
/* red would be the color as it goes from top to bottom so bottom will take precedence */
div p{
    color: blue;
}
/* this would take precedence as it's more specific as it has two levels  */

