

body{
    color: aqua;
}

h1{
    color: orange; 
    background-color:slateblue;
    text-decoration: none; 
    /* anchor tags automatically have unline ontext. can set it to non if on css*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}
p{
    text-align: left;
    line-height: 10px;
    letter-spacing: 1.5px;
    column-gap: 60px;
    column-count: 2;
}

ul{
    /* border-width: 4px;
    border-style: solid;
    border-color: crimson; */
    border: 4px solid crimson;
    /* everything can be done with one line */
    /* the border can be set individually i.e. border left, border bottom
    border-left: 30px dotted black;
    */
}

li{
    list-style-type: disc; 
    /* these are the pointers of the list */
    text-shadow: 2px 2px lightgray;
    /* gives text a little of depth */
}