.banner{
    position: relative;
}
.banner img{
    max-width: 100%;
    /* max width of the device */
}
.banner .welcome{
    background-color: #FEB614;
    color: white;
    padding: 30px;
    position: absolute;
    /* from the left or top. not to the left or top */
    left: 0px;
    top: 30%;
}
.banner h2{
    font-size: 74px;
}
.banner h2 span{
    font-size: 1.3em;
    /* em takes the size of the parent which is 74px and times it by 1.3 */
}