

body{
    color: aqua;
}

h1{
    color: orange; 
    background-color:slateblue;
    text-decoration: none; 
    /* anchor tags automatically have unline ontext. can set it to non if on css*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}
p{
    text-align: left;
    line-height: 10px;
    letter-spacing: 1.5px;
    column-gap: 60px;
    column-count: 2;
}

ul{
    /* border-width: 4px;
    border-style: solid;
    border-color: crimson; */
    border: 4px solid crimson;
    /* everything can be done with one line */
    /* the border can be set individually i.e. border left, border bottom
    border-left: 30px dotted black;
    */
}

li{
    list-style-type: disc; 
    /* these are the pointers of the list */
    text-shadow: 2px 2px #e9e9e9;
    /* gives text a little of depth */
}

span{
    /* span, em, anchor tags are inline elemets */
    display: block;
    /* this turns it to block element so takes up the whole block */
    /* inline elements cannot have margins at the top and bottom, just left and right */
    /* paddng collapes in a vertial manner- goes on top of each other */
}


div{
    display: inline;
    /* turns block element into inline */
    /* margin collapse- if 2 block elements are on top of each other then the padding would merge if one is 60px and another 20px then the total padding would be 60. it takes the bigger of the 2 */
}
/* display: inline-block; gets the best of both world. can add padding top and bottom to inline elements */

/* default browser style- can override using own code */

/* CSS classes are used as hooks for just a particular element e.g. p instead of all p tags. class starts with . */
p.error{
    color: red;
}
/* p.error selects only the p tag with the class of error */

